* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #ced8ff;
  transition: 0.5s;

  &.dark {
    background: #222;
  }
}